body {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    background: black;
    color: white;
}
input {
    width: 200px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #212121;
    height: 40px;
}
table {
    margin-top: 30px;
}
thead {
    horizontal-align: middle;
    vertical-align: middle;
    /* background: #fbb016; */
    font-size: 20pt;
    height: 60px;
}
tr:nth-of-type(even) {
    /* background: #ffd98b; */
    background: gray;
}
tr:hover {
    background-color: coral;
}
td {
    padding: 10px;
}
